body {
    font-family: Verdana, 'Times New Roman', Times, serif;
    background-color: #c2ecfb;
    text-align: center;
}

h1 {
    color: rgb(141, 14, 95);
    background-color: rgb(230, 224, 169);
}

.boxed {
    border: 1px solid black;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
}

img {
    height: 500px;
    width: auto;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: rgb(141, 14, 95);
    font-weight: bold;
}

.button {
    background-color: rgb(230, 224, 169);
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}